body{
    font-family: 'Times New Roman';
    background: yellow;
    padding: 40px;
}
.container{
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: green;
}
.subject-list label{
    display: block;
    padding: 8px 0;
    cursor: pointer;
}
.total-box{
    background: #e8f0ff;
    padding: 10px;
    font-size: 18px;
    margin: 15px 0;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background: blue;
}